* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  padding: 2rem 0;
  background-color: lightcoral;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: yellow;
  left: 0;
  right: 0;
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.add-item > div {
  margin: 1rem 0;
}

.add-item label {
  display: block;
}

.add-item input,
.add-item select {
  width: 100%;
  padding: 10px;
}

.btn {
  border: none;
  background-color: purple;
  color: #fff;
  padding: 10px 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
