* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex: 1;
  flex-basis: 50%;
}

form > div {
  margin: 10px 0px;
}

form label {
  display: block;
}

.btn {
  border: none;
  padding: 10px 15px;
  background-color: lightcoral;
  color: white;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
