* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

.tabs {
  width: 90%;
  margin: 2rem auto;
  border: 1px solid #aaa;
}

.tab-headings {
  display: flex;
}

.tab-headings > div {
  flex: 1;
  text-align: center;
  background-color: #bbb;
  border: 1px solid #aaa;
  cursor: pointer;
}

.description {
  padding: 2rem;
  font-size: 16px;
}
