* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#sidebar {
  padding: 10px;
  background-color: #eee;
  width: 35%;
  height: 100vh;
}

.names-list {
  list-style: none;
  padding: 0px;
}

.names-list a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

#container {
  display: flex;
  gap: 1rem;
}
#contact {
  padding: 10px;
}

.search-box {
  display: flex;
  align-items: center;
}

#sidebar input {
  width: 100%;
}
